@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(resources/blur-radial.png);
    background-repeat: no-repeat;
    background-position: 30% 20%;
    background-color: #121826;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 30px 35px;
    border-radius: 10px;
    width: 500px;
    max-width: 500px;
    border: 1px solid transparent;
    background: linear-gradient(#212936 0 0) padding-box, linear-gradient(120deg, rgba(229, 231, 235, 0.5) 0.05%, rgba(229, 231, 235, 0) 25.05%) border-box;
    background-clip: padding-box, border-box;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.t1 {
    color: #E5E7EB;
    font-size: 20px;
    margin-bottom: 10px;
}

label {
    color: #A1A1A9;
    font-size: 12px;
}

input {
    padding: 12px 17px;
    border-radius: 10px;
    background-color: transparent;
    border: 1.5px solid #4D5562;
    color: #fff;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
}

.d1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input::placeholder {
    color: #A1A1A9;
    font-size: 14px;
}

.continue {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 120px;
    color: #E5E7EB;
    border: 1px solid transparent;
    background: linear-gradient(180deg, #845eee 0%, #652cd1 100%);
    padding: 12px 17px;
    border-radius: 20px;
}

.counter {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.step-text {
    color: #A1A1A9;
    font-size: 12px;
}

/* ================= CHECKBOX STEP 2 ================= */

.checkbox-wrapper {
    display: flex;
    align-items: center;
    background: #394150;
    padding: 12px 15px;
    margin: 2px 0;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    color: #A1A1A9;
    border: 1px solid transparent;
}

.checkbox-wrapper:hover {
    background: #845EEE;
    color: #fff;
}

.checkbox-wrapper:focus-within {
    background: #845EEE;
    color: #fff;
}

.checkbox-wrapper input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.checkbox-wrapper input[type="checkbox"]:checked+label {
    color: #fff;
    font-weight: 0;
}

.checkbox-wrapper:has(input[type="checkbox"]:checked) {
    background: #5425AF;
    color: #fff;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

fieldset .t1 {
    margin-bottom: 20px;
}

.step3 {
    font-size: 16px;
    width: 400px;
    line-height: 1.5rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.step3 div p {
    color: #A1A1A9;
}

.step3 div p span {
    color: #E5E7EB;
    font-weight: 500;
}

ul {
    position: relative;
    left: 24px;
    color: #E5E7EB;
    font-weight: 500;
}

.dots-container {
    display: flex;
    gap: 10px;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: #334155;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.dot.active {
    background-color: #7c3aed;
    box-shadow: 0 0 10px #7c3aed, 0 0 2px rgba(124, 58, 237, 0.4);
    transform: scale(1.2);
}

.step2,
.step3 {
    display: none;
}

.progress-bar {
    width: 100%;
    height: 6px;
    background: #2a3240;
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.progress {
    height: 100%;
    width: 33%;
    background: linear-gradient(90deg, #845eee, #652cd1);
    transition: 0.4s;
}

.step1,
.step2,
.step3 {
    width: 100%;
}

.step2 .input-group {
    width: 100%;
}

/* TOAST ALERT */

#toast {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #5425AF;
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 14px;
    opacity: 0;
    transform: translateY(-20px);
    transition: 0.4s;
    pointer-events: none;
}

#toast.show {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {

    .container {
        width: 500px;
        max-width: 500px;
    }

    .step3 {
        width: 100%;
    }
}

@media (max-width: 425px) {

    .container {
        width: 400px;
        max-width: 400px;
    }

    .step3 {
        width: 100%;
    }
}

@media (max-width: 375px) {

    .container {
        width: 350px;
        max-width: 350px;
    }

    .step3 {
        width: 100%;
    }
}

@media (max-width: 320px) {

    .container {
        width: 295px;
        max-width: 295px;
    }

    .step3 {
        width: 100%;
    }
}